<h1>App para probar integración continua con Heroku y Travis</h1>
<p>La única función que tiene es retornar información de los últimos posts de instagram para un tag específico</p>
<p>Ruta: POST /instagram/tag/buscar</p>

<h3>Current version: <%= $version %></h3>
